extends layouts/default

block head
  title Agência Fercom

block content

  include views/banner

  include views/services

  include views/about

  include views/contact

  section.map

  include views/newsletter
