//
// Buttons
//

.button {
  font-family: $family-base;
  color: $white-color;
  @include font-size($font-size-base);
  text-decoration: none;
  background-color: $primary-color;
  border: 1px solid lighten($primary-color, 5%);
  background-image: none;
  font-weight: $font-weight-normal;
  display: inline-block;
  padding: em($grid-gutter-width / 2);
  margin-bottom: .6em;
  @include transition(background-color .2s linear);

  &:hover,
  &:focus {
    background-color: lighten($primary-color, 5%);
    background-image: none;
    text-decoration: none;
  }

  &:active,
  &:focus {
    position: relative;
    top: 2px;
  }

  &.ghost {
    background-color: transparent;
    border-width: 3px;

    &:hover,
    &:focus {
      background-color: rgba($white-color, .1);
    }
  }

  &.rounded {
    @include border-radius(32px);
  }

  &.d-block {
    width: 100%;
  }
}

.button-mediun {
  padding: 6px 20px;
  @include font-size($font-size-base - 2);
}

.button-small {
  padding: 4px 15px;
  @include font-size($font-size-base - 3);
}

.button-big {
  padding: 15px 35px;
  @include font-size($font-size-base + 2);
}
