//
//

.card {
  padding: em($grid-gutter-width / 3);
  background-color: $white-color;
  @include box-shadow(0px 2px 3px rgba($black-color, .2));
  width: 100%;
}

a.card {
  display: inline-block;
}
