//
//

.services {
  @extend %clearfix;
  margin-bottom: em($grid-gutter-width);
  position: relative;
  overflow: hidden;
  padding: {
    top: em($grid-gutter-width);
    bottom: em($grid-gutter-width);
  };

  a {
    padding: em($grid-gutter-width / 2);
  }

  a,
  a:hover {
    text-decoration: none;
  }

  h3 {
    @include font-size(22px);
  }
}
