
// Banner

section.banner
  .banner-inner
    .banner-content
      .container
          h1.wow.fadeInDown(data-wow-duration='1s', data-wow-delay='.6s') Cum sociis natoque penatibus et magnis dis parturient
          hr.divider.wow.fadeIn
          p.lead.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='1.6s') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis nascetur ridiculus mus.
          a.button.ghost.wow.fadeIn(data-wow-duration='1s', data-wow-delay='2.3s', href='#services')
            span Conheça&nbsp;
            | nossos serviços

// END Banner
