// #contact

section#contact.p-y-lg.clearfix.bg-silver
  .container
    .col-tablet-7.wow.fadeIn(data-wow-duration='1s', data-wow-delay='.3s')
      h2.fw-light.m-t-0 Fale conosco

      form(action='', method='post', role='form', class='form')

        .form-group
          input.form-control(type='text', placeholder='Nome')

        .form-group
          input.form-control(type='text', placeholder='E-mail')

        .form-group
          input.form-control(type='text', placeholder='Telefone')

        .form-group
          textarea.form-control(name='', cols='30', rows='6', placeholder='Mensagem')

        .form-group
          button.button.button-big(type='button') Enviar

    .col-tablet-5.wow.fadeIn(data-wow-duration='1s', data-wow-delay='.5s')
      p.m-t-lg
        strong E-mail:
        | &nbsp; contato@agenciafer.com.br
      p
        strong Telefone:
        | &nbsp; +55 41 3333-2233 | +55 41 9898-9900
      p
        strong Endereço:
        | &nbsp; Rua Consectetuer adipiscing elit | PR


// END #contact
