// footer

footer.m-t-md.p-t-lg.p-b-sm.bg-silver
  .container
    ul.social
      li
        a(href='mailto:contato@agenciafer.com.br', target='_blank')
          i.i-mail
      li
        a(href='http://twitter.com', target='_blank')
          i.i-twitter
      li
        a(href='http://facebook.com', target='_blank')
          i.i-facebook
      li
        a(href='http://instagram.com', target='_blank')
          i.i-instagram

    p.txt-center.m-t-md by&nbsp;
      a.txt-primary(href="http://nandomoreira.me", target="_blank") nandomoreira.me

// END footer
