// header

header.header
  .container-full
    h1.logo
      a(href='/', title='Agência Fer.com')
        | Agência
        span Fer
        | .com

    button.nav-menu(type='button', role='button')
      span
      span
      span

    nav.navbar(role='navigation')
      ul
        li
          a(href='/', title='Home') Home
        li
          a(href='#services', title='Serviços') Serviços
        li
          a(href='#about', title='Sobre nós') Sobre nós
        li
          a(href='#contact', title='Contato') Contato

// END header
