// #services

section#services.services.bg-silver
  .container
    .txt-center.wow.fadeIn(data-wow-duration='1s', data-wow-delay='0s')
      h2.fw-light Nossos Serviços

    hr.divider

    .col-tablet-4.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='.2s')
      a(href='#').d-block.txt-center
        img.dot(src='//dummyimage.com/150x150/4d494d/686a82.gif&text=+Foto+')
        h3 Service A
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        span.button.button-small Leia mais &raquo;

    .col-tablet-4.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='.6s')
      a(href='#').d-block.txt-center
        img.dot(src='//dummyimage.com/150x150/4d494d/686a82.gif&text=+Foto+')
        h3 Service B
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        span.button.button-small Leia mais &raquo;

    .col-tablet-4.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='1s')
      a(href='#').d-block.txt-center
        img.dot(src='//dummyimage.com/150x150/4d494d/686a82.gif&text=+Foto+')
        h3 Service C
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        span.button.button-small Leia mais &raquo;

// END #services
